
/*Slider*/
.embed {
    position: relative;
    transform-origin: center;
    transform: translateX(0) scale(1.3) ;
    width: 100%;
    height: 100%;
    z-index: -1;
}
.embed iframe {
    width: 100%;
    height: 100%;
    z-index: -100;
}
.slider {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 1;
}
.slider-wrapper {
    width: 100%;
    overflow : hidden;
    position: fixed;
    left: 0;
    top: 0;
    height: 100%;
}
.slider-wrapper-wrapper {
    left: 50%;
    top:50%;
    position:absolute; 
}
.img-slider {
    position:relative; 
    left:-50%;
    top: -540px;
    min-width: 1920px;
    min-height: 1080px;
    margin: 0;
    padding: 0;
    float: left;
}
.img-slider-mascara {
    position: fixed;
    z-index: 2;
    width: 100%;
    top: 55%;
    left: 50%;
    /* bring your own prefixes */
    transform: translate(-50%, -49%) scale(1.05,1.05);
    opacity: 0.8;
}
.wrapper-dot {
    position: fixed;
    right: 5%;
    z-index: 4;
    bottom: 5%;
    display: block;
}
.wrapper-dot a{

    display: block;
    margin-bottom: 1.3em;
}

/* .address-slider {

} */

.dot {
    box-sizing: border-box;
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    height: 1.2em;
    width: 1.2em;
    border: solid #bbb 0.1em;
    border-radius: 50%;
    display: inline-block;
}
.dot:hover {
    border: solid #bbb 0.3em;
    border-radius: 50%;
}
.dot-ativada {
    background-color: #e6efd2;
}
.link-dot {
    border-radius: 1.2em;
    width: 1.2em;
    height: 1.2em;   
}
.wrapper-slider-navigation {
    text-align: center;
    position: fixed;
    width: 100%;
    bottom: 10%;
    left: 0;
    z-index: 3;
}
.wrapper-address-slider {
    width: 4em;
    display: inline-block;
    vertical-align: middle;
    padding: 4em 0.6% 0 ; 
}
.address-slider a img{
    width: 100%;
}

/*section content blocking*/
.latest-works,  .content-widget-footer, .clients, .footer {
    position: relative;
    width: 100%;
    z-index: 30;

}
.slider-size {
    min-height: 97%; /* adjust slider height */
    z-index: 10;
    position: relative;
    background-color: transparent;
}

